<section class="education container" id="section_education">
  <h2>Education</h2>    
  <div class="row">
    
    <%- include('interests/eduCard',{ edu: { title:"Sami Shamoon College of engineering",  diploma: { name:"Bachlor of Science",img:"/images/personal/Bsc.jpg"}, grades:'./pdf/grades.pdf', final:'./pdf/tlp.pdf' } }) %>
  </div>

</section>