<section class="education container" id="section_education">
    <div class="row justify-content-center">
        <h2 >Education</h2>
    </div>
    <div class="row">
        <a href="www.sce.ac.il">Sami Shamoon College of engineering</a>
        </div>
        <div class="row">
        <button class="btn btn-primary" data-toggle="modal" data-target="#diploma">Bachlor of science</button>
        <div id="diploma" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-body">
                      <img src="/images/personal/Bsc.jpg" class="img-responsive" width="100%" height="100%">
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-1">
        <button class="btn btn-info mr-1" data-toggle="modal" data-target="#grades" >Grades sheet</button>
        <div id="grades" class="modal fade" tabindex="-1" role="dialog" width="1000px" >
            <div class="modal-dialog modal-lg"  width="1000px">
              <div class="modal-content"  width="1000px">
                  <div class="modal-body" width="1000px">
                    <embed src='./pdf/grades.pdf' type="application/pdf"  width="100%" height="600px">
                  </div>
              </div>
            </div>
          </div>
        </div>
        
        <button class="btn btn-info mr-1" data-toggle="modal" data-target="#tlp">Final project - time locked puzzled</button>
        <div id="tlp" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" >
              <div class="modal-content">
                  <div class="modal-body">
                    <embed src='./pdf/tlp.pdf' type="application/pdf" width="100%" height="600px">
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    
</section>