<section class="skills" id="section_skills">
    <div>
        <h2>Front End</h2>
        <img src="/images/skills/frontEnd.jpg" alt="">
    </div>
    <div>
        <h2>Back End</h2>
        <img src="/images/skills/backEnd.jpg" alt="">
    </div>
</section>