<section class="container about row justify-content-md-center mt-5" id="section_about">
    <a href="https://www.linkedin.com/in/ 
    avishag-saban
    ">
        <i class="fab fa-linkedin fa-5x on fa-square-o p-5 col-2">
        </i>
    </a>
    <a href="https://github.com/avishsa">
        <i class="fab fa-github fa-5x on fa-square-o p-5 col-2"></i>
    </a>
    <a href="mailto:avishag1991@gmail.com">
        <i class="fas fa-at fa-5x on fa-square-o p-5 col-2"></i>
    </a>
    <a href="https://wa.me/+972525215467">
        <i class="fab fa-whatsapp fa-5x on fa-square-o p-5 col-2"></i>
    </a>

    </div>
</section>