<section class="container mt-5" id="section_social">
    <h2>Abstract</h2>
    <p>
        I'm a Software engineer specializating in Back-end developing.
        Looking for a position which requires complex data processing.
        Nowdays I'm having a few side-projects and keep learning online courses.
    </p>
    <h2>Contact me</h2>
    <div class="row">
        <a href="mailto:avishag1991@gmail.com">
            avishag1991@gmail.com
        </a>
        <a type="button" class="btn" href="#message_form">
            <i class="far fa-envelope"></i>
            <span class="fa-layers-text">message me!</span>
        </a>
        <a type="button" class="btn" href="pdf/resume.pdf" download>
            <i class="fa fa-download"></i>
            <span class="fa-layers-text">Get my resume</span>
        </a>
        <div class="about row justify-content-md-center ">
            <a href="https://www.linkedin.com/in/avishag-saban">
                <span class="d-inline-block" data-toggle="tooltip" data-placement="bottom"
                    title="linkedin.com/in/avishag-saban">
                    <i class="fab fa-linkedin fa-2x on fa-square-o p-2 col-2">
                    </i>
                </span>
            </a>
            <a href="https://github.com/avishsa">
                <span class="d-inline-block" data-toggle="tooltip" data-placement="bottom" title="github.com/avishsa">
                    <i class="fab fa-github fa-2x on fa-square-o p-2 col-2"></i>
                </span>
            </a>
            <a href="https://t.me/avishagsaban">
                <span class="d-inline-block" data-toggle="tooltip" data-placement="bottom" title="Avishag Saban">
                    <i class="fab fa-telegram fa-2x on fa-square-o p-2 col-2"></i>
                </span>
            </a>

        </div>
    </div>
</section>