<section class="container mt-5" id="section_about">
    <div class="row justify-content-md-center">
    <h2 class="mt-5 mb-1">AVISHAG SABAN</h2>
</div>
<div class="about row justify-content-md-center ">
    <a href="https://www.linkedin.com/in/ 
    avishag-saban
    ">
    <span class="d-inline-block"  data-toggle="tooltip" data-placement="bottom" title="linkedin.com/in/avishag-saban">
        <i class="fab fa-linkedin fa-5x on fa-square-o p-5 col-2">
        </i>
    </span>
    </a>
    <a href="https://github.com/avishsa">
        <span class="d-inline-block"  data-toggle="tooltip" data-placement="bottom" title="github.com/avishsa">
        <i class="fab fa-github fa-5x on fa-square-o p-5 col-2"></i>
    </span>
    </a>
    <a href="mailto:avishag1991@gmail.com">
        <span class="d-inline-block"  data-toggle="tooltip" data-placement="bottom" title="avishag1991@gmail.com">
        <i class="fas fa-at fa-5x on fa-square-o p-5 col-2"></i>
    </span>
    </a>
    
    </a>
    <a href="https://wa.me/+972525215467">
        <span class="d-inline-block"  data-toggle="tooltip" data-placement="bottom" title="052-5215467">
        <i class="fab fa-whatsapp fa-5x on fa-square-o p-5 col-2"  ></i>
    </span>
    </a>
    
</div>
    </div>
</section>

    