<section id="section_experience" class="container">
    <div>
        <div class="row pl-4">
            <h2>Experience</h2>
        </div>
        <ul class="timeline">
            <li>
                <span class="jobTitle"> Full - Stack developer</span>
                <span class="jobDuration float-right"> March, 2018 - Feb, 2019</span>
                <button class="btn btn-primary ml-1" data-toggle="modal" data-target="#toPoint">ToPoint</button>
                <div id="toPoint" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body companydescription">
                                A start-up in the transformation field. The product’s goal is to find dynamic optimal
                                routes to public transformation services that are constantly modified in accordance to
                                passengers requirements.
                            </div>
                        </div>
                    </div>
                </div>
                <span class="location"></span>
                <div class="row achievments">
                    <ul>
                        <li> Connected google's firebase's notification service to product</li>
                        <li> Maintained complex data retrievments operations from SQL server</li>
                        <li> Kept on-going communication with aboard vendors</li>
                    </ul>
                </div>
                <ul class="skills list-group list-group-horizontal">
                    <li class="list-group-item"> C# </li>
                    <li class="list-group-item"> MS-SQL </li>
                    <li class="list-group-item"> POSTMAN </li>
                    <li class="list-group-item"> FIREBASE </li>
                    <li class="list-group-item"> UNIT TESTING </li>
                    <li class="list-group-item"> SOURCE TREE </li>
                </ul>
            </li>
            <li>
                <span class="jobTitle"> Tutor </span>
                <span class="jobDuration float-right"> October, 2012 - July, 2017</span>
                <button class="btn btn-primary ml-1" data-toggle="modal" data-target="#SCE">SCE – deans
                    office</button>
                <div id="SCE" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body company description">
                                <a hret="https://www.sce.ac.il/administration/dean-of-students1"> The Dean's office</a>
                                is the main student body at the college that take cares for the students' welfare.
                                The deans help students with personal, social, administrative and economical issues.
                                Help students with academic diffculties, inorder to prevent dropdown from school,
                                by providing private and group lessons.
                            </div>
                        </div>
                    </div>
                </div>
                <span class="location"> Be'er Sheva</span>
                <div class="row achievments">
                    <ul>
                        <li> Teaching Crash courses in Disecrete Mathematics and Linear Algebra.</li>
                        <li> Mentoring and Tutoring undergraduates through their first year.</li>
                        <li> Helping students with programming projects in C, C++, python</li>
                    </ul>
                </div>
                <ul class="skills list-group list-group-horizontal">
                    <li class="list-group-item"> C </li>
                    <li class="list-group-item"> C++ </li>
                    <li class="list-group-item"> python </li>
                </ul>
            </li>
            <li>
                <span class="jobTitle"> Help Desk Technician </span>
                <span class="jobDuration float-right"> December, 2014 - May, 2015</span>
                <button class="btn btn-primary ml-1" data-toggle="modal" data-target="#IAI">IAI </button>
                <div id="IAI" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body company description">
                                <a hret="https://www.iai.co.il/"> Israeli AeroSpace Industries</a>
                                is Israel's major aerospace and aviation manufacturer, producing aerial and astronautic
                                systems.
                            </div>
                        </div>
                    </div>
                </div>
                <span class="location">Lod</span>
                <div class="row achievments">
                    <ul>
                        <li> Troubleshooting user’s issues.</li>
                        <li> Installing programs and guiding users on local machines via VMware.</li>
                        <li> Managing various IT applications.</li>
                    </ul>
                </div>
                <ul class="skills list-group list-group-horizontal">
                    <li class="list-group-item"> MICROSOFT OFFICE - OUTLOOK, WORD, EXCEL </li>
                    <li class="list-group-item"> ACTIVE DIRECTORY </li>
                    <li class="list-group-item"> CRM </li>
                </ul>
            </li>
        </ul>
    </div>
</section>