<section class="ml-5">
    <div class="row">
    <span class="jobTitle"> Full - Stack developer</span>
    <button class="btn btn-primary ml-1" data-toggle="modal" data-target="#company">ToPoint</button>
        <div id="company" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-body companydescription">    
                  A start-up in the car-pulling field.
                  The product is using new developed algorithms by Doctors from 
                  <a href="www.bgu.ac.il">Ben gurion University</a>.                  
                  </div>
              </div>
            </div>
          </div>
    <span class="location">
    </span>
    </div>
    <div class="row achievments">
      <ul>
        <li> Connected google's firebase's notification service to product</li>
        <li> Maintained complex data retrievments operations from SQL server</li>
        <li> Kept on-going communication with aboard vendors</li>
      </ul>
    </div>
  </section>