<div>
    <h2>Hobbies</h2>
    <div>Reading Disc World Series</div>
    <div> <img src="/images/hobbies/discworld.jpg" height="200px"></div>
    <div> Watching rom-com</div>
    <div> <img src="/images/hobbies/cinema.jpg" height="200px"></div>
    <div> Traveling with my family</div>
    <div> <img src="/images/hobbies/travel.jpg" height="200px"></div>
</div>