<div>
    <h2>My projects</h2>
    <div class="row">
        <div class="col-12">                        
            
            <img src="/images/coming.jpg" alt="" srcset="" height="500px" width="800px">
        </div>
    </div>
</div>