<div>
    <h2>My projects</h2>
    <div class="row">
        <div class="col-12">
                        
            <%- include('projCard',{proj:{image:"",title:"niknk",content:"nknknk",code:"nkn",site:"mmolm"}}) %>
        </div>
    </div>
</div>