<div>
    <h2>My projects</h2>
    <div class="row">
        <div class="col-3">
            <% include("projCard",{proj:{image:"/images/logos/git.png",title:"BootCamp",content:"cscs bhbj bjbiu buibi",code:"csc",site:"sc"}});%>
        </div>
    </div>
</div>