<div class="card text-center" >
    <img  class="mx-auto d-block" src="<%-tech.image%>" alt="Card image cap" height="80px" width="100px">
    <div class="card-body">
      <h5 class="card-title"> <%-tech.title%></h5>
      <p class="card-text"><%-tech.content%></p>
    </div>
  </div>