<div>
    <h2>Web development</h2>
    <div id="stack1">
        <div> <img src="/images/logos/nodejs.png" height="80px" width="100px"></div>
        <div> <img src="/images/logos/mongoDB.png" height="50px" width="100px"></div>
        <div> <img src="/images/logos/html5.png" height="100px" width="100px"></div>
        <div> <img src="/images/logos/git.png" height="100px" width="100px"></div>
        <div> <img src="/images/logos/css.png" height="100px" width="100px"></div>
        <div> <img src="/images/logos/vscode.png" height="100px" width="100px"></div>
        
    </div>
    <img src="https://ghchart.rshah.org/avishsa"/>
</div>